<header class="headline">
  <div class="caption">
    <h1 class="mat-h1"> Angular Material </h1>
    <h2>Material Design components for Angular</h2>
    <a mat-raised-button> Get Started</a>
  </div>
</header>
<section>
  <img src="../../../assets/img/mobile.svg" alt="Mobile">
  <div>
    <h4 class="description">
      Sprint from Zero to App
    </h4>
    <p>
      Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop.
    </p>
  </div>
</section>
<section>
  <div>
    <h4 class="description">
      Fast and Consistent
    </h4>
    <p>
      Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.
    </p>
  </div>
  <img src="../../../assets/img/browser.svg" alt="Mobile">
</section>
<section>
  <img src="../../../assets/img/painting.svg" alt="Mobile">
  <div>
    <h4 class="description">
      Fast and Consistent
    </h4>
    <p>
      Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.
    </p>
  </div>
</section>
<section>
  <div>
    <h4 class="description">
      Fast and Consistent
    </h4>
    <p>
      Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.
    </p>
  </div>
  <img src="../../../assets/img/arcade.svg" alt="Mobile">
</section>
<app-footer></app-footer>
