<header class="headline">
  <div class="caption">
    <h1 class="mat-h1"> Angular Material </h1>
    <h2>Material Design components for Angular</h2>
    <a mat-raised-button routerLink="/component"> Get Started</a>
  </div>
</header>
<section>
  <img src="./assets/img/mobile.svg" alt="Mobile">
  <div>
    <h4 class="mat-subheading-1">
      Sprint from Zero to App
    </h4>
    <p class="mat-body-2">
      Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop.
    </p>
  </div>
</section>
<section>
  <div>
    <h4 class="mat-subheading-1">
      Fast and Consistent
    </h4>
    <p class="mat-body-2">
      Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.
    </p>
  </div>
  <img src="./assets/img/browser.svg" alt="Mobile">
</section>
<section>
  <img src="./assets/img/painting.svg" alt="Mobile">
  <div>
    <h4 class="mat-subheading-1">
      Versatile
    </h4>
    <p class="mat-body-2">
      Themable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so
      that all users are welcome.
    </p>
  </div>
</section>
<section>
  <div>
    <h4 class="mat-subheading-1">
      Optimized for Angular
    </h4>
    <p class="mat-body-2">
      Built by the Angular team to integrate seamlessly with Angular.
    </p>
  </div>
  <img src="./assets/img/arcade.svg" alt="Mobile">
</section>
<app-footer></app-footer>
